<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
	  <HEADER>
	  	<ul>
			<% if moussaillon_signed_in? %>
				<li>
				<%= link_to "Sign Out", destroy_moussaillon_session_path, method: :delete %>
				</li>
				<li>
				<%= current_moussaillon.email %>
				</li>
			<% else %>
				<li>
				<%= link_to "Sign In", new_moussaillon_session_path %>
				</li>
				<li>
				<%= link_to "Sign Up", new_moussaillon_registration_path, method: :delete %>
				</li>
			<% end %>

		</ul>
	  </HEADER>

  <body>
  
  <h1>Hello world</h1>

  </body>
</html>


